header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
<<<<<<< HEAD
    }
#header_img {
	height: 100%;
	width: 142px;

	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;

	margin-left: 20px;
=======
    display: flex;
    align-items: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
>>>>>>> refs/remotes/origin/master
}
